.weather-card {
  flex: 1;
  background: #fff;
  border-radius: 3px;
  padding: 10px;

  + .weather-card {
    margin-left: 3px;

    @media (max-width: 770px) {
      margin-left: 5px;
    }
    @media (max-width: 500px) {
      margin-left: 0;
    }
  }

  @media (max-width: 770px) {
    text-align: center;
    max-width: 300px;
    width: calc(50% - 20px);
    margin: 5px;
    flex: none;
  }
  @media (max-width: 500px) {
    max-width: 500px;
    width: 100%;
    margin: 5px 0;
  }

  p {
    margin-bottom: 10px;
    font-size: 14px;

    @media (max-width: 1000px) {
      font-size: 10px;
    }

    @media (max-width: 770px) {
      font-size: 16px;
    }
  }
}
